* {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: white;
  height: 5vh;
  box-shadow: 0 0 5px black;
  display: flex;
  align-items: center;
  padding-left: 35%;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

.logo {
  margin-right: 30%;
  color: blue;
}

.option-simple {
  margin-right: 15px;
  cursor: pointer;
}
.option-simple a {
  text-decoration: none;
  color: black;
}
.option-simple:hover a {
  color: blue;
}

.option-hex {
  cursor: pointer;
}
.option-hex:hover {
  color: blue;
}

#color-section {
  height: 95vh;
  text-align: center;
  padding-top: 35vh;
}

.color-box {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
}

#button {
  padding: 15px 45px;
  background-color: transparent;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
#button:hover {
  background-color: black;
  color: white;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}
